* {
    margin: 0;
    padding: 0;
}
body {
    color: black;
    background-color: white;
}

#main {
    padding: 50px;
}

.gastrite {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.titulo__receitas {
    font-size: 24px;
    margin: 20px 0 20px;
}

.img-receita {
    max-width: 325px !important;
    height: auto;
    margin-bottom: 20px;
}

.ingredientes {
    font-size: 28px;
}

.preparo {
    font-size: 24px;
    text-align: justify;
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 15px;
    font-weight: bold;
}

.preparo__text {
    line-height: 1.5;
    padding-top: 10px;
    font-size: 14px;
    text-align: justify;
}
