@import url('../global/_header.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
}

.gradient-custom-3 {
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.btn {
  justify-content: space-between;
}

.login-content {
  margin-top: 50px;
}

.actions {
  gap: 5px;
}

/*Css do Footer*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #5ea7a2;
  color: black;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}